@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>This is Ejada task</h3>

<p>
    You are requested to develop a simple website that simulates a work office management
    software. In this assignment, we will focus on the process of adding employees and
    departments as well as creating a listing page to display all employees per department.
    
</p>
