@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Andrew Baher</h3>

<address>
    34 Abdallah street<br />
    Helwan, Cairo, Egypt<br />
    <abbr title="Phone">Phone:</abbr>
    01221195008
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:andrew.baher@gmail.com">andrew.baher@gmail.com</a><br />
</address>