@{ 
    ViewBag.Title = "Sign in";
}
<br />

<div class="row jumbotron">
    <h3>Welcome to Ejada Assignment</h3>
    <b>
        This is a simple website that simulates a work office management
        software.
    </b>
</div>

